
header {
    color: black;
    background-color: antiquewhite;
  }
  footer {
    color: black;
    background-color: antiquewhite;
  }
  #i1{
      border:1px solid;
      padding-left: 20px;
      padding-right: 10px;
      width:1000px;
      height:800px;
      background-color: rgba(240, 255, 192, 0.351);
  }
  